@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&family=Questrial&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-box {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
}

.box {
    width: 720px;
    height: 810px;
}

.text-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    z-index: 5;
}

.white {
    width: 720px;
    height: 810px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #030712;
    margin-top: 20px;
}

.p-1 {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #62656D;
}

.p-1>a {
    font-family: Questrial;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2563EB;
}

.form-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}

.input-1 {
    width: 340px;
    height: 44px;
    padding-left: 30px;
    border-radius: 6px;
    border: 1px solid #E4EAF7;
    background-color: #F5F8FF;
    outline: none;
    gap: 10px;
    color: #9197A6;
    outline: none;
}

.input-1::placeholder {
    color: #9197A6;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.position-ab {
    position: absolute;
}

.position-rel {
    position: relative;
}

.d-flex {
    display: flex;
}

.email-icon {
    top: 13px;
    left: 7px;
}

.lock {
    top: 65px;
    left: 7px;
}

.eye {
    top: 68px;
    left: 300px;
}

.sing-btn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    width: 340px;
    height: 48px;
    top: 446px;
    left: 190px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    margin-top: 20px;
}

.check-1 {
    display: flex;
    justify-content: space-between;
}

.lin-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.line-1 {
    border: 1px solid #C9CFDB;
    width: 120px;
    height: 1px;
}

.share-btn {
    gap: 20px;
}

.google-btn {
    width: 166px;
    height: 41px;
    border-radius: 6px;
    border: 1px solid #E4EAF7;
    background: linear-gradient(0deg, #E4EAF7, #E4EAF7),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cursor-1 {
    cursor: pointer;
}

.blue {
    width: 720px;
    height: 810px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.ellipse {
    width: 399.29px;
    height: 399.29px;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    z-index: 15;
    right: 100px;
}

.text-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta-icon {
    width: 64px;
    height: 64px;
    border-radius: 36.08px;
    background: #FFFFFF;
    box-shadow: 0px 3.436569929122925px 3.436569929122925px 0px #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group {
    left: 70px;
    z-index: 20;
    display: flex;
}